<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DREAMVILLE-RECORD's</title>
    <script src="https://kit.fontawesome.com/08f89b8954.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DREAMVILLE-RECORD's</title>
</head>
<body id="artist-body">
    <header class="header">
        <nav>
            <ul>
                <li>
                    <a id="add-artist" href="/"> Add New Artist</a>

                </li>
            </ul>
        </nav>
    </header>
    <section class="bac-dream">
         
         <div class="display">
             <h2>Dreamville's Artists 💪🏿‼️</h2>
             
             <ul class="artist-info" id="artist-info">
                 <% if (artist_Info && artist_Info.length) { %>
                    <% for (var i = 0; i < artist_Info.length; i++) { %>
                        <li class="artist" data-id="<%= artist_Info[i]._id %>">
                            <img src="<%- artist_Info[i].image || '/default-image.png' %>" alt="<%= artist_Info[i].stageName || 'No Image' %>">
                            <div class="details">
                                <span class="list_stage-name">Stage Name: <%= artist_Info[i].stageName || 'Unknown' %></span>
                                <span class="list_artist-name">Artist Name: <%= artist_Info[i].birthName || 'Unknown' %></span>
                                <span>Age: <%= artist_Info[i].age || 'Unknown' %></span>
                                <div class="icons">
                                    <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
                                    <div class="favorite">
                                        <span><%= artist_Info[i].favorite || 0 %></span>
                                        <i class="fa-regular fa-heart love" style="color: #07e3f2;"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                        <% } else { %>
                            <p>No artist information available.</p>
                            <% } %>
             </ul>
                        
        </div>
                    
    </section>
  
 

    
    <script src='js/main.js'></script>

</body>
</html>