<%- include('partials/header') -%>
    <div class="header">
        <nav>
            <ul class="link-wrap">
                <li>
                    <a class="link" href="/profile"> Add New Artist</a>

                </li>
                <span></span>
                <li>
                    <a class="link" href="/favorite"> favorite's</a>

                </li>
            </ul>
        </nav>
    </div>
    <section class="bac-dream">
         
         <div class="display">
             <h2>Dreamville's Artists 💪🏿‼️</h2>
             
             <ul class="artist-info" id="artist-info">
                 <% if (artists && artists.length) { %>
                    <% for (var i = 0; i < artists.length; i++) { %>
                        <li class="artist" data-id="<%= artists[i]._id %>">
                            <a href="/artist/<%= artists[i]._id %>">
                            <img src="<%- artists[i].image || '/default-image.png' %>" alt="<%= artists[i].stageName || 'No Image' %>">
                            </a> 
                           <div class="details">
                                <span class="list_stage-name">Stage Name: <%= artists[i].stageName || 'Unknown' %></span>
                                <span class="list_artist-name">Artist Name: <%= artists[i].birthName || 'Unknown' %></span>
                                <span>Age: <%= artists[i].age || 'Unknown' %></span>
                                <!-- <div class="icons"> -->
                                    <!-- <form
                                    action="/artist/deleteArtist/<%= artists[i]._id %>?_method=DELETE"
                                    method="POST"
                                    class=""
                                  >
                                    <button class="" type="submit">   <i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
                                  </form> -->
                                 
                                    <div class="favorite">
                                        <span><%= artists[i].favorite || 0 %></span>
                                        <form
                                        action="/artist/favoriteArtist/<%= artists[i]._id %>?_method=PUT"
                                        method="POST"
                                        class=""
                                      >
                                        <button class="" type="submit"> <i class="fa-regular fa-heart love" style="color: #07e3f2;"></i></button>
                                      </form>
                                       
                                    </div>
                                <!-- </div> -->
                            </div>
                        </li>
                        <% } %>
                        <% } else { %>
                            <p>No artist information available. <a href="/">Add Artist</a></p>
                            <% } %>
             </ul>
                        
        </div>
                    
    </section>
  
    <%- include('partials/footer') -%>